<div class="message-table">
    <div class="comment-title-class">
        Comments:
    </div>
    <table>
        <tbody>
            <ng-container *ngFor="let message of messageContent; index as i">
                <tr>
                    <td id="message-body-{{i+1}}">
                        <fa-icon class="icon-class" [icon]="faComment"></fa-icon>
                        <span class="message-body-class" [innerHTML]="message.body"></span>
                    </td>
                    <td class="date-class" id="message-date-{{i+1}}">{{message.date}}</td>
                </tr>  
            </ng-container>         
        </tbody>
    </table>
</div>